<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/style/style.css">
    </head>
<body>
<header>

    <div class="header">
         <h1>
{{tittle}}
  </h1>  
        <ul>
             <li>
                <a href="/weather">weather</a>
            </li>
            <li>
                <a href="">home</a>
            </li>
             <li>
                <a href="/about">about</a>
            </li>
        </ul>
        <p>
            in this website you search about live weather
        </p>
    </div>
    <div>
        <form >
            <input placeholder="enter city name" class="input">
            <button>submit</button>
        </form>
    <p class="msg-1"></p>
    <p class="msg-2"></p>

    </div>
    {{>footer}}
</header>
    <script src="/style/app.js"></script>
</body>
</html>